@media only screen and (max-width: 350px){
.contact{
    font-size: 15px;
}
}

   
   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (max-width: 599px) {
  
.contact{
      display: flex;
      justify-content: center;
      padding: 5px 10px 5px 0;
  }

.facebook{
    text-align: center; 
    padding:50px 0 50px 0;
    transform:  translateX(0);
}

.landing{
    padding-bottom: 50px;
}

.ads{
    padding-bottom: 50px;
}

.us img{
    
width: 50px;
height: 50px;
}

.ourwork{
    padding-bottom: 10px;
}

.buttok .btn{
    width: 15px;
    height: 15px;
    font-size: 20px;
}

.us{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.us h3{
    font-size: 18px;
}

.us p{
    font-size: 12px;
    padding: 20px;
}

.textarea h2{
    font-size: 30px;
}

.textarea p{
    font-size: 16px;
}

.strip{
    margin: 20px 0 20px 0;
}
  
.our h2{
font-size: 30px;
}

.our p{
    font-size: 14px;
    text-align: center;
}


}
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 767px) {

.get .ex{
    display: none;
  }
  
.get h2{
    text-align: center;
    font-size: 30px;
}

.get .input{
      height: 100%;
      width: 80%;
  }

  .input form{
      width: 20%;
      padding-right: 20px;
  }

.getin input{
    width: 80%;
}

.getin p{
    text-align: center;
}

.our img{
    width: 100%;
}

.step{
    display: none;
}

.steph{
    display: none;
}

.step1{
    display: flex;
    flex-direction: column;
    text-align:center ;
}

.step2{
    display: flex;
    flex-wrap: wrap;
}

.step3{
    display: flex;
    flex-direction: column;
}

.step4{
    display: flex;
    flex-wrap: wrap;
    
}

.steptext{
    text-align:center;
}

}
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 991px) {
  .get h2{
      font-size: 36px;

  }

  .ourwork{
    padding-bottom: 10px;
}

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1025px) {
      .ourwork .content{
          display: flex;
          flex-direction: row;
          justify-content: center;
          max-width: 700px;
          transform: translateY(0);

      }

      
.header{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;   
    }

header {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .slider__item{
        background-size: auto;
    }
    

  }


  @media  (max-width: 1025px){
      

    .nav {
      height: 20px;
      width: 30px;
      position: relative;
      margin: 15px 0 15px 0;
      

    }
    .menu {
      position: fixed;
      bottom: 325px;
      left: -100%;
      background: #de2b24;
      transition: all 0.6s;
      font-size: 20px;
      width: 250px;
    }
    
    .menu ul{
        display: flex;
        flex-direction: column;
    }

    .burger:before,
    .burger:after {
      content: "";
      background: #5c5c5c;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0%;
    }
    .burger:before {
      top: 0;
      transition: 0.3s ease;
    }
    .burger:after {
      bottom: 0;
      transition: 0.3s ease;
    }
    .burger span {
      position: absolute;
      background: #5c5c5c;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: 0.3s ease;
    }
  
    #check:checked ~ .burger span {
      opacity: 0;
    }
    #check:checked ~ .burger:before {
      transform: rotate(45deg);
      top: 9px;
    }
    #check:checked ~ .burger:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    #check:checked ~ .menu {
      left: 20px;
      z-index: 999;
    }
   }

   @media  (max-width: 1400px){
    .slider__item{
        background-size: auto;
    }
    
   }